@import
url('https://fonts.google.com/specimen/Barlow+Semi+Condensed')
;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #edf2f8;
    font-size: 13px;
    font-family:'barlow semi condensed',
    sans-serif;
    line-height: 1.5;
    font-weight: 500;
}

.testimonial
{
    display: grid;
    margin: 50px;
    max-width:1440px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    padding:20px;
}
.card
{
    background: white;
    border-radius: 10px;
    padding:30px;
    margin-bottom: 10px;
    box-shadow: rgba(17 ,12 ,46 ,0.15)0px 
    48px 100px 0px;
    -webkit-transition:1s;
    transition: 1s;
}
.card:hover
{
    box-shadow: 10px 30px 40px gey;
}
.header
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
header h3{
    font-size: 13px;
}
header p{
    opacity: 50%;
}
.header_img
{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
    border: 2px solid #996ed9;
}

.one
{
    background: hsl(263, 55%, 52%)
    ;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 100px;
    grid-column: 1 / 3;
}
.two
{
    background-color: hsl(217, 19%, 35%)
    ;

}
.three
{
    background-color: hsl(0, 0%, 100%)
    ;
    color:black;
}
.four
{
    background-color:hsl(219, 29%, 14%);
    grid-column: 2/4;
    grid-row: 2;
}
.five
{
    background-color: hsl(0, 0%, 100%)
    ;
    color:black;
    grid-column: 4;
    grid-row: 1 / 3;
}
.lead
{
    font-size: 1.1rem;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 500;
}
.quote
{
    font-size: 12px;
    opacity: 70%;
    font-weight: 500;
    line-height: 1.4;
}

/*Responsive grid*/

@media only screen and (max-width:480px) {
    .testimonial
{
    display: grid;
    max-width:375px;
    margin: 5px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap:30px;
    padding:20px;

    
}

.one
{
    background: hsl(263, 55%, 52%)
    ;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 40px;
    grid-column: 1/2;
}


.four
{
    background-color:hsl(219, 29%, 14%);
    grid-column: 1;
    grid-row: 4;

}
.five
{
    background-color: hsl(0, 0%, 100%)
    ;
    color:black;
    grid-column: 1;
    grid-row: 5;
}

.lead
{
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 500;
}
.quote
{
    font-size: 12px;
    opacity: 70%;
    font-weight: 500;
    line-height: 1.4;
}
}



@media only screen and (min-width:700px)and (max-width:884px) {
    .testimonial
{
    display: grid;
    max-width:680px;
    margin: 60px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    padding:20px;

    
}

.one
{
    background: hsl(263, 55%, 52%)
    ;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 10px right 40px;
    grid-column: 1/3;
}
.two{
    grid-column: 3/5;
}

.three
{
    grid-row: 3;
}
.four
{
    background-color:hsl(219, 29%, 14%);
    grid-column: 1/4;
    grid-row: 3;

}
.five
{
    background-color: hsl(0, 0%, 100%)
    ;
    color:black;
    grid-column: 1/5;
    grid-row: 2;
}

.lead
{
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 500;
}
.quote
{
    font-size: 12px;
    opacity: 70%;
    font-weight: 500;
    line-height: 1.4;
}
}